.grid {
    overflow: hidden;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: calc(100vh - 18px);
    /* (100vh = 100% of the view height) - (18 px for body padding) = the height fills the screen*/
}

.grid .row {
    display: flex;
    flex-direction: row;
    width: calc(100%);
    /* each row fills 100% of the available width */
    height: calc(10%);
    /* each row fills 10% of the available height because there are 10 rows */
}

/* Every div inside the grid will have the following css properties */
.grid div {
    height: calc(100%);
    /* each block takes up 100% of the available height */
    width: calc(10%);
    /* each block takes up 10% of the available width because there are 10 blocks in a row */
}

.innerDiv.car {
    animation: slide 0.6s linear;
}

.innerDiv.log {
    animation: slide 1s linear;
}

.innerDiv.log.inverse {
    animation: slideNegative 1s linear;
}

.innerDiv {
    width: calc(100%) !important;
    position: relative;
}

@keyframes slide {
    from {
        left: 0
    }

    to {
        left: calc(100%)
    }
}

@keyframes slideNegative {
    from {
        right: 0
    }

    to {
        right: calc(-100%)
    }
}

.ending-block, .starting-block,
.car, .frog, .log {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.ending-block {
    background-image: url("assets/labels/goal_label.png");
}

.starting-block {
    background-image: url("assets/labels/start_label.png");
}

.frog {
    background-image: url("assets/tiles/frog.gif");
    transform: scaleY(-1);
}

.frog.flip {
    transform: scaleY(1);
}

.frog.log {
    background-image: url("assets/tiles/frog.gif"), url("assets/obstacles/log.png");
}

.left {
    transform: scaleX(-1);
}

.car {
    background-image: url("assets/obstacles/car.png");
}

.log {
    background-image: url("assets/obstacles/log.png");
}

.road {
    background-color: grey;
    background-image: url("assets/tiles/stone.jpg");
    background-size: contain;
}

.river {
    background-image: url("assets/tiles/water.gif");
    background-size: contain;
}

.grass {
    background-image: url("assets/tiles/grass.jpg");
    background-color: lightgreen;
    background-size: calc(10%);
}

/* Modal background box */
.startmodal {
    visibility: visible;
    opacity: 1;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    transition: all .25s linear;
}

.endmodal {
    visibility: hidden;
    opacity: 1;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    transition: all .25s linear;
}

/* Modal content box */
.modal-content {
    background-color: #fefefe;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 30px 70px;
    width: 50%;
    text-align: center;
    border-radius: 20px;
    font-family: "Roboto", sans-serif;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button.startGame {
    background-color: #ed6755;
    border: none;
    border-radius: 5px;
    width: 200px;
    padding: 14px;
    font-size: 16px;
    color: white;
    box-shadow: 0px 6px 18px -5px rgba(237, 103, 85, 1);
}

.startGame:hover,
.startGame:focus {
    background-color: #e74c3c;
    cursor: pointer;
    box-shadow: 5px 10px 18px -3px rgba(237, 103, 85, 1);
}

.modal-title {
    font-size: 30px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}

.game-over-title {
    font-size: 30px;
    font-weight: 500;
    font-family: 'Press Start 2P', cursive;
}

.game-win-title {
    font-size: 30px;
    font-weight: 500;
    font-family: 'Press Start 2P', cursive;
}

.sad-frog {
    width: 200px;
    height: 166px;
    margin: 0 auto;
}

.happy-frog {
    width: 200px;
    height: 166px;
    margin: 0 auto;
}

.frogger-title {
    font-size: 50px;
    font-weight: 500;
    font-family: 'Nabla', cursive;
    margin-top: -30px;
}

.modal-text {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Dosis', sans-serif;
}